@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,800;1,400;1,500;1,600&display=swap");
html {
  box-sizing: border-box;
}
body {
  background: rgba(47, 52, 58, 0.712);
}
nav.fixed-top {
  background: #fff;
  z-index: 1040;
  padding-top: 2px;
}
#header {
  background: #fff;
  padding-top: 5px;
  padding-bottom: 0px;
  height: 80px;
}
nav.fixed-top .logo a img {
  margin-top: 7px;
}
.logo a img {
  width: 200px;
  height: 54px;
  margin-left: 20px;
  margin-top: 7px;
}
.header_body {
  display: flex;
}
.icon_list {
  margin-top: 4px;
}
.body_one {
  width: 20%;
}
.body_two {
  width: 30%;
}
.body_three {
  width: 50%;
  position: relative;
}
.icon_list li {
  list-style: none;
  display: inline-block;
}
.icon_list li a {
  font-size: 40px;
  color: rgb(243, 236, 236);
}
.form-control {
  margin-top: 18px;
}
.body_three {
  display: flex;
}
.score {
  color: rgb(41, 39, 39);
  margin-top: 13px;
  margin-left: 20px;
}
.score span {
  font-weight: 700;
  margin-left: 3px;
}
.progress {
  height: 4px;
}
.progress-bar {
  height: 4px;
  background: rgb(51, 233, 202);
}
.dro_list {
  position: relative;
  margin: 10px 70px;
  padding: 0;
}
.dro_list::before {
  position: absolute;
  top: 10px;
  left: 0;
  content: "";
  height: 40px;
  width: 2px;
  background: rgb(46, 42, 42);
}
.dro_list::after {
  position: absolute;
  top: 10px;
  right: 0;
  content: "";
  height: 40px;
  width: 2px;
  background: rgb(46, 42, 42);
}

.dro_list li {
  display: inline-block;
  margin: 10px 20px;
}
.dro_list li a {
  font-size: 25px;
  color: rgb(51, 233, 202);
}
.setting {
  position: absolute;
  top: 6px;
  margin-left: 76px;
  right: 10px;
}
.setting a {
  font-size: 24px;
  color: rgb(243, 236, 236);
}
/* #main-body{
  margin-top: -16px;
} */
.content_body {
  /* display: flex;
  width: 100%; */
}
.left_body {
  padding-top: 80px;
  height: 100%;
  position: fixed;
  z-index: 1030;
  top: 0px;
  width: 60px;
}
.left_sidebar {
  padding-top: 10px;
}

.middle_area {
  padding: 0 6%;
}
.post_body,
.left_sidebar {
  background: #1d2333;
  height: 100%;
}
.post_body {
  margin-top: 30px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-bottom: 20px;
}

.banner_content {
  position: relative;
  height: 400px;
}
.banner_img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.banner_img img {
  height: 220px;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.media_list {
  padding: 0;
}
.media_list li {
  list-style: none;
  display: inline-block;
  font-size: 15px;
  margin: 0 5px;
}
.media_list li a {
  border-radius: 6px;
  color: #fff;
}
.media_list li:nth-child(1) a {
  background: rgb(23, 92, 241);
  padding: 8px 12px;
}
.media_list li:nth-child(2) a {
  background: rgb(17, 180, 230);
  padding: 8px 9px;
}
.media_list li:nth-child(3) a {
  background: rgb(230, 10, 112);
  padding: 8px 10px;
}
.media_list li:nth-child(4) a {
  background: rgb(238, 21, 39);
  padding: 8px 8px;
}

.banner_avatar {
  position: absolute;
  top: 134px;
  left: 0;
  right: 0;
}
.banner_avatar h5 {
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
}
.banner_avatar p {
  font-size: 15px;
  color: #00be9c;
  font-weight: 600;
}
.banner_info .info:nth-child(1)::before,
.banner_info .info:nth-child(2)::before,
.banner_info .info:nth-child(3)::before {
  position: absolute;
  right: 0;
  top: 29%;
  content: "";
  background: #fff;
  height: 30px;
  width: 1px;
}
.info {
  display: inline-block;
  position: relative;
  padding: 20px;
}
.info p:nth-child(1) {
  color: #fff;
  font-size: 15px;
  font-weight: 700;
}
.info p:nth-child(2) {
  color: #eaf3f1e7;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}
.info p:nth-child(1) img {
  width: 30px;
  height: 20px;
}
.add_friend {
  font-size: 15px;
  color: #fff;
  font-weight: 600;
}
.banner_button {
  padding-bottom: 20px;
}

.banner_button button {
  border: none;
  font-size: 13px;
  text-transform: capitalize;
  width: 130px;
  height: 50px;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
  margin: 0 10px;
}
.banner_button button:nth-child(1) {
  background: rgb(136, 64, 219);
}
.banner_button button:nth-child(2) {
  background: rgb(60, 168, 10);
}

.left_sidebar,
.chat_list {
}
.side_item {
  position: relative;
  margin-bottom: 28px;
}
.side_item::after {
  position: absolute;
  left: 65px;
  z-index: 1;
  width: 80px;
  height: 18px;
  font-size: 12px;
  color: #fff;
  background: rgb(24, 23, 23);
  display: none;
}
.side_item:hover.side_item::after {
  display: block;
  animation: fadeInRight 1s;
}
.left_sidebar .side_item a:hover {
  color: #fff;
}
.left_sidebar .side_item:nth-child(1).side_item::after {
  top: 22px;
  content: "Profile";
}
.left_sidebar .side_item:nth-child(2).side_item::after {
  top: 9px;
  content: "Link";
}
.left_sidebar .side_item:nth-child(3).side_item::after {
  top: 9px;
  content: "content";
}
.left_sidebar .side_item:nth-child(4).side_item::after {
  top: 9px;
  content: "challenge";
}
.left_sidebar .side_item:nth-child(5).side_item::after {
  top: 9px;
  content: "invite";
}
.left_sidebar .side_item:nth-child(6).side_item::after {
  top: 9px;
  content: "prize";
}
.left_sidebar .side_item a {
  color: rgb(105, 119, 121);
  font-size: 25px;
}
.left_sidebar .side_item {
  padding: 0 12px;
}
.right_content {
  position: fixed;
  height: 100%;
}
.right_sidebar {
}
.right_body {
  padding-top: 80px;
  height: 100%;
  position: fixed;
  z-index: 1030;
  top: 80px;
  right: 0;
  padding-top: 10px;
  background: #1d2333;
}
.right_body {
  width: 60px;
  text-align: center;
}
.chat_list {
  height: 400px;
  overflow: hidden scroll;
}
.chat_list::-webkit-scrollbar {
  display: none;
}
.chat_list {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.right_body .chat_list {
}
.bar {
  background: rgb(28, 224, 61);
  padding: 25px 10px;
}
.bar .bar_icon:nth-child(1) {
  height: 2px;
  width: 35px;
  background: #fff;
  margin-bottom: 8px;
}
.bar .bar_icon:nth-child(2) {
  height: 2px;
  width: 30px;
  background: #fff;
  margin-bottom: 8px;
}
.bar .bar_icon:nth-child(3) {
  height: 2px;
  width: 25px;
  background: #fff;
}
.page_nav {
  background: #1d2333;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 60px;
  padding-top: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.single_page {
  text-align: center;
  position: relative;
}
.single_page::before {
  position: absolute;
  left: 0;
  height: 24px;
  width: 2px;
  background: #d4d9e6d0;
  content: "";
}
.single_page i {
  font-size: 20px;
  color: #d4d9e6d0;
}
.single_page a:hover i {
  color: rgb(11, 206, 70);
}
.owl-theme .owl-nav [class*="owl-"] span {
  color: #fff;
  font-size: 20px;
}
.owl-carousel .owl-nav button.owl-prev {
  position: absolute;
  left: 0;
  top: 10px;
}
.owl-carousel .owl-nav button.owl-next {
  position: absolute;
  right: 0;
  top: 10px;
}
.owl-carousel .owl-nav button:focus {
  outline: none;
}
