@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,800;1,400;1,500;1,600&display=swap");
html {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
.pb-0 {
  padding-bottom: 0;
}
body {
  background: rgba(47, 52, 58, 0.712);
}
a:hover {
  text-decoration: none;
}
nav.fixed-top {
  background: #1d2333;
  z-index: 1040; 
  top: 1px;
  border-bottom: 1px solid #9aa4bf;

}
#header {
  background: #1d2333;
  padding-top: 5px;
  padding-bottom: 0px;
 border-bottom: 1px solid #9aa4bf;
 height: 80px;
}
nav.fixed-top .logo a img {
  margin-top: 7px;
}
.logo a img { 
  margin-left: 20px;
  margin-top: 7px;
}
.header_body {
  display: flex;
}
.icon_list {
  margin-top: 4px;
}
 
.body_three { 
  position: relative;
}
.icon_list li {
  list-style: none;
  display: inline-block;
}
.icon_list li a {
  font-size: 40px;
  color: rgb(243, 236, 236);
}
.form-control {
  margin-top: 18px;
}
.body_three {
  display: flex;
}
.score {
  color: rgb(41, 39, 39);
  margin-top: 13px;
  margin-left: 20px;
}
.score span {
  font-weight: 700;
  margin-left: 3px;
}
.progress {
  height: 4px;
}
.progress-bar {
  height: 4px;
  background: rgb(51, 233, 202);
}
.dro_list {
  position: relative; 
  padding: 0;
}
.dro_list::before {
  position: absolute;
  top: 10px;
  left: 0;
  content: "";
  height: 40px;
  width: 2px;
  background: rgba(255, 255, 255, 0.753);
}
.dro_list::after {
  position: absolute;
  top: 10px;
  right: 0;
  content: "";
  height: 40px;
  width: 2px;
  background: rgba(255, 255, 255, 0.753)
}

.dro_list li {
  display: inline-block; 
}
.dro_list li a {
  color: rgba(255, 255, 255, 0.753);
}
.setting {
  position: absolute;
  top: 6px;
  margin-left: 76px;
  right: 10px;
}
.setting a {
  font-size: 24px;
  color: rgb(243, 236, 236);
}
/* #main-body{
  margin-top: -16px;
} */

.left_body {
  padding-top: 80px;
  height: 100%;
  position: fixed;
  z-index: 1030;
  top: 0px;
  width: 60px;
}
.left_sidebar {
  padding-top: 10px;
} 
 
.post_body,
.left_sidebar {
  background: #1d2333;
  height: 100%;
}
.post_body {
  margin-top: 30px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-bottom: 20px;
}

.banner_content {
  position: relative;
  height: 400px;
}
.banner_img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.banner_img img {
  height: 220px;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.media_list {
  padding: 0;
}
.media_list li {
  list-style: none;
  display: inline-block;
  font-size: 15px;
  margin: 0 5px;
}
.media_list li a {
  border-radius: 6px;
  color: #fff;
}
.media_list li:nth-child(1) a {
  background: rgb(23, 92, 241);
  padding: 8px 12px;
}
.media_list li:nth-child(2) a {
  background: rgb(17, 180, 230);
  padding: 8px 9px;
}
.media_list li:nth-child(3) a {
  background: rgb(230, 10, 112);
  padding: 8px 10px;
}
.media_list li:nth-child(4) a {
  background: rgb(238, 21, 39);
  padding: 8px 8px;
}

.banner_avatar {
  position: absolute;
  top: 134px;
  left: 0;
  right: 0;
}
.banner_avatar h5 {
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
}
.banner_avatar p {
  font-size: 15px;
  color: #00be9c;
  font-weight: 600;
}
.banner_info .info:nth-child(1)::before,
.banner_info .info:nth-child(2)::before,
.banner_info .info:nth-child(3)::before {
  position: absolute;
  right: 0;
  top: 29%;
  content: "";
  background: #fff;
  height: 30px;
  width: 1px;
}
.info {
  display: inline-block;
  position: relative;
  padding: 20px;
}
.info p:nth-child(1) {
  color: #fff;
  font-size: 15px;
  font-weight: 700;
}
.info p:nth-child(2) {
  color: #eaf3f1e7;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}
.info p:nth-child(1) img {
  width: 30px;
  height: 20px;
}
.add_friend {
  font-size: 15px;
  color: #fff;
  font-weight: 600;
}
.banner_button {
  padding-bottom: 20px;
}

.banner_button button {
  border: none;
  font-size: 13px;
  text-transform: capitalize;
  width: 130px;
  height: 50px;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
  margin: 0 10px;
}
.banner_button button:nth-child(1) {
  background: rgb(136, 64, 219);
}
.banner_button button:nth-child(2) {
  background: rgb(60, 168, 10);
}

.side_item {
  position: relative;
  margin-bottom: 28px;
}
.side_item::after {
  position: absolute;
  left: 65px;
  z-index: 1;
  width: 80px;
  height: 18px;
  font-size: 12px;
  color: #fff;
  background: rgb(24, 23, 23);
  display: none;
}
.side_item:hover.side_item::after {
  display: block;
  animation: fadeInRight 1s;
}
.left_sidebar .side_item a:hover {
  color: #fff;
}
.left_sidebar .side_item:nth-child(1).side_item::after {
  top: 22px;
  content: "Profile";
}
.left_sidebar .side_item:nth-child(2).side_item::after {
  top: 9px;
  content: "Link";
}
.left_sidebar .side_item:nth-child(3).side_item::after {
  top: 9px;
  content: "content";
}
.left_sidebar .side_item:nth-child(4).side_item::after {
  top: 9px;
  content: "challenge";
}
.left_sidebar .side_item:nth-child(5).side_item::after {
  top: 9px;
  content: "invite";
}
.left_sidebar .side_item:nth-child(6).side_item::after {
  top: 9px;
  content: "prize";
}
.left_sidebar .side_item a {
  color: rgb(105, 119, 121);
  font-size: 25px;
}
.left_sidebar .side_item {
  padding: 0 12px;
}
.right_content {
  position: fixed;
  height: 100%;
}
.right_sidebar {
}
.right_body {
  padding-top: 80px;
  height: 100%;
  position: fixed;
  z-index: 1030;
  top: 80px;
  right: 0;
  padding-top: 10px;
  background: #1d2333;
}
.right_body {
  width: 60px;
  text-align: center;
}
.chat_list {
  height: 400px;
  overflow: hidden scroll;
}
.chat_list::-webkit-scrollbar {
  display: none;
}
.chat_list {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.right_body .chat_list {
}
.bar {
  background: rgb(28, 224, 61);
  padding: 25px 10px;
}
.bar .bar_icon:nth-child(1) {
  height: 2px;
  width: 35px;
  background: #fff;
  margin-bottom: 8px;
}
.bar .bar_icon:nth-child(2) {
  height: 2px;
  width: 30px;
  background: #fff;
  margin-bottom: 8px;
}
.bar .bar_icon:nth-child(3) {
  height: 2px;
  width: 25px;
  background: #fff;
}
.page_nav {
  background: #1d2333;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 60px;
  padding-top: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.single_page {
  text-align: center;
  position: relative;
}
.single_page::before {
  position: absolute;
  left: 0;
  height: 24px;
  width: 2px;
  background: #d4d9e6d0;
  content: "";
}
.single_page i {
  font-size: 20px;
  color: #d4d9e6d0;
}
.single_page a:hover i {
  color: rgb(11, 206, 70);
}
.owl-theme .owl-nav [class*="owl-"] span {
  color: #fff;
  font-size: 20px;
}
.owl-carousel .owl-nav button.owl-prev {
  position: absolute;
  left: 0;
  top: 10px;
}
.owl-carousel .owl-nav button.owl-next {
  position: absolute;
  right: 0;
  top: 10px;
}
.owl-carousel .owl-nav button:focus {
  outline: none;
}
/*about*/
 
.left-div {
   margin-top: 0px;
}
.left-div-content {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-top: 10px;
  padding-bottom: 22px;
  background: #1d2333;
  margin-bottom: 20px;
}
.left-div-content h6 {
  font-size: 18px;
  color: #fff;
  margin-left: 15px;
  margin-top: 30px;
}
.edit_icon {
  float: right;
  margin-top: -30px;
  margin-right: 20px;
}
.edit_icon a {
  font-size: 14px;
  color: #fff;
}
.left-div-content p.text {
  font-size: 13px;
  color: #fff;
  margin-left: 15px;
  margin-top: 20px;
  margin-right: 40px;
}
.detail {
  margin-top: 30px;
  display: flex;
}
.detail_one {
  width: 40%;
}
.detail_one p { 
  color: #9aa4bf;
  margin-left: 15px; 
  text-align: justify;
}
.detail_two p {
  color: #fff;
  font-weight: 500; 
}
.detail_two p,.detail_one p { 
  font-size: 14px;
}
.email {
  color: #3eeb13 !important;
}
.profile_detail p {
  color: #fff;
  font-size: 13px;
}
.profile_detail p:nth-child(2) {
  font-size: 12px;
  color: #9aa4bf;
}
.profile_detail p:nth-child(3) {
  margin: 0 10px;
}
svg.radial-progress circle {
  stroke-width: 6;
  stroke: rgb(163, 245, 69);
}
svg.radial-progress circle.incomplete {
  stroke: #2f3749;
}
.score_div {
  display: flex;
  margin: 0 36px;
}
.score_one,
.score_two {
  width: 50%;
}
.score_one h6:nth-child(1),
.score_two h6:nth-child(1) {
  color: #fff;
  font-size: 25px;
  margin-left: 6px;
}
.score_one p:nth-child(2),
.score_two p:nth-child(2) {
  color: #fff;
  font-size: 12px;
}
.score_one p:nth-child(3),
.score_two p:nth-child(3) {
  color: #9aa4bf;
  font-size: 12px;
}
.status {
  display: flex;
}
.status_list {
  padding: 0;
  margin-left: 15px;
  margin-top: 20px;
}
.status_icon {
  width: 14%;
}
.status_list li {
  color: #fff;
  list-style: none;
  background: linear-gradient(-145deg, #4ff461, #7750f8);
  margin-bottom: 15px;
  border-radius: 100%;
  width: 45px;
  height: 45px;
}
.status_list li i {
  margin-top: 15px;
}
.status_text {
  width: 86%;
  margin-top: 20px;
  margin-left: 30px;
}
.single_text {
  margin-top: 4px;
}
.single_text p:nth-child(1) {
  font-size: 12px;
  color: #9aa4bf;
}
.single_text p:nth-child(2) {
  font-size: 12px;
  color: #fff;
  margin-top: -7px;
  font-weight: 600;
}
 
.right-div-content {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-top: 10px;
  padding-bottom: 22px;
  background: #1d2333; 
  margin-bottom: 20px;
}
.right-div-content h6 {
  font-size: 18px;
  color: #fff;
  margin-left: 15px;
  margin-top: 30px;
  font-weight: 600;
}
.interest-text {
  color: #fff;
  margin-bottom: 30px;
}
.interest-text h6 {
  font-size: 15px;
}
.interest-text p {
  margin-left: 15px;
  font-size: 13px;
  padding-top: 10px;
}
.job {
  margin-top: 40px;
}
.job-text {
  color: #fff;
  margin-left: 15px;
  padding-left: 20px;
  position: relative;
  margin-bottom: 0;
  height: 122px;
  margin-top: 20px;
}
.job .job-text:nth-child(1) {
  height: 170px;
  margin-top: 0;
}
.job .job-text:nth-child(1)::before {
  height: 195px;
}
.job .job-text:nth-child(4)::before {
  display: none;
}
.job-text::after {
  content: "";
  width: 13px;
  height: 13px;
  border: 4px solid #4ff461;
  border-radius: 50%;
  position: absolute;
  top: 4px;
  left: -6px;
}
.job-text::before {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #2f3749;
  content: "";
  height: 157px;
  width: 1px;
}

.job-text p:nth-child(1) {
  font-size: 15px;
  font-weight: 600;
}
.job-text p:nth-child(2) {
  font-size: 13px;
  font-weight: 500;
  color: #9aa4bf;
}
.job-text p:nth-child(3) {
  font-size: 14px;
}
/*timeline*/
.badges_list li {
  list-style: none;
  display: inline-block;
  margin: 5px 10px;
}
.friends {
  margin-top: 30px;
}
.friends_feature {
  display: flex;
}
.img_item {
  width: 20%;
}
.single_text {
  width: 50%;
}
.chat_go {
  text-align: right;
  width: 30%;
}
.chat_go a i {
  color: #fff;
  margin-right: 10px;
}
.post-content {
  padding: 20px;
}
.post_head {
  display: flex;
}
.post_man{
  width: 8%;
}
.man_info {
  margin-top: 8px;
  width: 30%;
}
.post_setting{
  width: 65%;
  text-align:right ;
  margin-top: 14px;
}
.post_setting a{
 color: #fff;
}
.man_info p:nth-child(1) {
  font-weight: 600;
  color: #fff;
  font-size: 14px;
}
.man_info p:nth-child(2) {
  color: #9aa4bf;
  margin-top: -14px;
  font-size: 12px;
}

.post-body img {
  border-radius: 10px;
}
.post-body p {
  font-size: 14px;
  color: #fff;
}
.react {
  display: flex;
}
.react_icon {
  width: 33.33%;
  color: #9aa4bf;
}
.post_footer {
  border-top: 1px solid #9aa4bf;
  background: #2f3749;
  padding: 20px 0; 
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
/*profile*/
#profile_body {
  margin-top: 10px;
}
#nav-tab {
  justify-content: center;
  margin-bottom: 20px;
  background: #1d2333;
  border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 15px 0;
}
#nav-tab button {
  margin: 0 10px;
  border: none;
  color: #fff;
  background: rgb(8, 145, 236);
}
#nav-tab button.active {
  background: rgb(236, 8, 95);
}
.rank .progress {
  margin-top: -10px;
}
.rank .progress-bar {
  background: rgb(226, 10, 179);
  margin-right: 20px;
}
.level {
  margin-top: 5px;
}
.rank span {
  color: #fff;
  font-size: 35px;
  font-weight: 600;
  background: rgba(243, 22, 206, 0.219);
  border-radius: 100%;
  padding: 9px 20px;
}
.up {
  font-size: 18px;
  color: #fff;
}
.bottom {
  font-size: 13px;
  color: #fff;
  margin-top: 10px;
}
.item {
  background: #1d2333;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.item_active p:nth-child(1) {
  font-size: 25px;
  color: #fff;
  font-weight: 600;
  margin-bottom: 3px;
}
.item_active {
  margin-top: 20px;
}
.item_active p:nth-child(3) {
  font-size: 18px;
  color: #fff;
  margin-top: 2px;
}
.item_details{
  padding: 25px 0;
}
.item_details p:nth-child(1) {
  font-size: 20px;
  color: #fff;
  font-weight: 500;
}
.item_details p:nth-child(2) {
  font-size: 18px;
  color: #fff;
  margin-top: -5px;
}
.item-img li {
  display: inline-block;
  margin: 0 10px;
}
.team {
  background: #1d2333;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-top: 20px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.team a {
  font-size: 18px;
  color: #fff;
}
.team p {
  font-size: 16px;
  color: #fff;
  margin-top: 5px;
}
.team span {
  font-size: 12px;
  color: #fff;
}
.team img {
  border-radius: 100%;
}
